<div class="row justify-content-center">

    <div class="col-md-6">
        <h2>Iniciar sesión</h2>
        <br>
        <form [formGroup]="formularioLogin">
            <div class="form-group">
                <label for="nombre">Nombre de usuario</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <br>
            <p id="msgError" class="form-text text-muted" *ngIf="mensajeError" style="color: tomato;">{{mensajeError}}</p>
            <button class="btn btn-primary" (click)="login()">Ingresar</button>
            <br>
            <br>
            <button class="btn btn-success" (click)="registrar()">Registrarme</button>
        </form>
    </div>

</div>
