<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="deckC">
            <app-card *ngFor="let cardc of resultado.cartasC" [carta]="cardc"></app-card>
        </div>
    </div>

</div>

<img id="board" src="../../assets/img/board.jpg" class="img-fluid" alt="board"> 

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="deckJ">
            <app-card *ngFor="let cardj of resultado.cartasJ" [carta]="cardj"></app-card>
        </div>
    </div>

</div>

<div class="mt-5">
    <div>
        Crupier: {{resultado.totalC}}
    </div>
    <div>
        Jugador: {{resultado.totalJ}}
    </div>

</div>